/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    margin: 0
}

.main-container {
display:"flex"
}

.header-nav {
    margin: 25px 50px;
    display:flex;
    flex-direction: row;
    justify-content:space-between   
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

ul li {
    list-style: none;
    gap: 5px;
    padding: 10px
}

.musicforeveryone{

    background-image: url(../images/landing.jpg);
    width: 100%; 
  height: 700px;
    
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    
   margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.musicforeveryone h1 {
     margin-top: 200px;
font-size: 70px;
    color: white;
}

.musicforeveryone p {
    padding-top: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.what-on-spotify {
    display: block;
}

.what-on-spotify h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00B172;
}

.features {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.featuresCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
    align-content: center;
}

.yeezy {
    width: 95%;
    background-color: #00B172;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}

.yeezytext {
padding-left: 50px;
    
}
.yeezytext h2 {
    
   
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
}

.yeezytext h3 {
    color: white;

}

.yeezytext p {
    color: white;
}


